<div class="user">
  <img src="<%= @user.picture_url %>" class="img-rounded avatar">
  <h3><%= @user.username %></h3>
  <div class="row">
    <div class="col-xs-4">
      <h6>GLEETS</h6>
      <h6><%= @user.gleets.count %></h6>
    </div>
    <div class="col-xs-4">
      <h6>FOLLOWING</h6>
      <h6><%= @user.followees(User).count %></h6>
    </div>
    <div class="col-xs-4">
      <h6>FOLLOWERS</h6>
      <h6><%= @user.followers(User).count%></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 user-bio">
      <h4>User Bio:</h4>
      <%= simple_format @user.bio %>
    </div>
  </div>
</div>
