<div class="row">
  <div class="col-sm-3">
    <h2>Username</h2>
    <h3><%= @user.username %></h3>
    <div class="row">
      <div class="col-xs-4">
        <h6>GLEETS</h6>
        <h6><%= @user.gleets.count %></h6>
      </div>
      <div class="col-xs-4">
        <h6>FOLLOWING</h6>
        <h6>4</h6>
      </div>
      <div class="col-xs-4">
        <h6>FOLLOWERS</h6>
        <h6>26</h6>
      </div>
    </div>
    <% if not_me? %>
      <%= render partial: 'follow_button' %>
    <% end %>
  </div>
  <div class="col-sm-9">
    <%= render partial: 'gleets/form', locals: { user: @user, gleet: Gleet.new } %>
    <%= render @user.gleets %>
  </div>
</div>
