<!DOCTYPE html>
<html>
<head>
  <title>Glitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-xs-12 login nav" id="nav">
        <%= render partial: 'shared/nav' %>
      </div>
      <div class="text-left">
        <h1>Glitter</h1>
        <h3>See what's shimmering right now.</h3>
      </div>
    </div>
  </div>

  <div class="container" id="main">
    <%= render partial: 'shared/flashes' %>
    <%= yield %>
  </div>

  <div class="container">
    <%= render 'layouts/footer' %>
  </div>

  <!-- Modal -->
  <%= render partial: 'sessions/form', layout: 'shared/modal', locals: { label: 'login_form', title: 'Log In'} %>
  <%= render partial: 'users/form', layout: 'shared/modal', locals: { label: 'signup_form', title: 'Sign Up' } %>
  <%= render partial: 'users/bio', layout: 'shared/modal', locals: { label: 'user_biography', title: "User Info" } %>
  <%= render partial: 'gleets/form', layout: 'shared/modal', locals: { label: 'new_gleet_form', title: 'New Gleet', user: current_user, gleet: Gleet.new }  if current_user %>
</body>
</html>
