<!DOCTYPE html>
<html>
<head>
  <title>Glitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="jumbotron">
    <div class="container-fluid">
      <div class="col-xs-12 login nav">
        <ul class="list-inline text-right">
          <% if current_user %>
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "New Gleet", new_user_gleet_path(user_id: current_user.id), data: { toggle: "modal", target: "#new_gleet_form", remote: false } %></li>
            <li><%= link_to "All Gleets", glitter_index_path %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Log Out", "/logout", method: :delete %></li>
          <% else %>
            <li><%= link_to "G", root_path, id: "logo" %></li>
            <li><%= link_to "Sign up", "/signup", data: { toggle: "modal", target: "#signup_form", remote: false } %></li>
            <li><%= link_to "Log In", "/login", data: { toggle: "modal", target: "#login_form", remote: false } %></li>
          <% end %>
        </ul>
      </div>
      <div class="text-left">
        <h1>Glitter</h1>
        <h3>See what's shimmering right now.</h3>
      </div>
    </div>
  </div>

  <div class="container" id="main">
    <%= render partial: 'shared/flashes' %>
    <%= yield %>
  </div>

  <div class="container">
    <%= render 'layouts/footer' %>
  </div>

  <!-- Modal -->
  <%= render partial: 'sessions/form', layout: 'shared/modal', locals: { label: 'login_form', title: 'Log In'} %>
  <%= render partial: 'users/form', layout: 'shared/modal', locals: { label: 'signup_form', title: 'Sign Up' } %>
  <%= render partial: 'users/bio', layout: 'shared/modal', locals: { label: 'user_biography', title: "User Info" } %>
  <%= render partial: 'gleets/form', layout: 'shared/modal', locals: { label: 'new_gleet_form', title: 'New Gleet', user: current_user, gleet: Gleet.new } %>
</body>
</html>
